
  <div class="container">
      <div class="jumbotron" style="text-align: center">
        <h2>Customer Data Management</h2>   
        <div class="row">
            <div class="col-sm-3 link">
                <a (click)="create()">Add New Customer</a>
            </div> 
            <div class="col-sm-3 link">
                <a (click)="view()">View Customers</a>
            </div>
            <div class="col-sm-3 link">
                <a (click)="view()">Update Customer</a>
            </div>
            <div class="col-sm-3 link">
                <a (click)="view()">Delete Customer</a>
            </div>   
          </div>
      </div>
    </div>
